main {
  margin: 2em;
}
/* Center the loader */
.loader {
  font-size: 500%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 90s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

main {
  display: none;
  text-align: center;
}
